@model List<Produs>
@{
    ViewData["Title"] = "Aranjarea dupa categorii";
}

<div class="row mt-5 mt-2">

    @{
       foreach (var p in Model)
        {
        <div class="col-lg-4">
            <h2>  @p.Name</h2>
            @{string denumire = p.Path + "" + p.Img;}
            <img class="img-thumbnail" src="@denumire" alt="@p.Name" />
            
            <p>Compania producator: @p.Company</p>
            <p>  Pretul jocului : @p.Price.ToString("c")</p>
            <p>
                <a class="btn btn-warning" href="~/Visitator/Buy/@p.Id"> Cumpara</a>
                <a class="btn btn-warning" href="~/Visitator/Details/@p.Id"> Detalii</a>
            </p>
        </div>           
        }
    }

</div>