
@{
    ViewData["Title"] = "Add produs nou";
}
<head>
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/form.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
</head>

<div class=" container text-center">
    <div class="login-form-1  p-4 text-center m-5" style="background-color:rgba(40,40,40,0.6);max-width:700px;min-width:500px">
        <h2 class="text-white">Adauga produs nou</h2>
        <form id="login-form" method="post" class="text-left " novalidate="novalidate" style=""
              role="form" enctype="multipart/form-data">
            <div class="main-login-form">
                <div class="login-group">
                    <div class="row justify-content-center">
                        <div class="col-4 p-2 text-center">
                            <div class="form-group">
                                <label name="Name" class="control-label">Nume</label>
                                <input type="text" name="Name" class="form-control" />
                            </div>
                            <div class="m-2 text-center text-danger"><h5>@ViewBag.ErrName</h5></div>
                            <div class="form-group">
                                <label name="Company" class="control-label">Companie</label>
                                <input type="text" name="Company" class="form-control" />
                            </div>
                            <div class="m-2 text-center text-danger"><h5>@ViewBag.ErrCompany</h5></div>
                            <div class="form-group">
                                <label name="Price" class="control-label">Pret</label>
                                <input type="number" name="Price" class="form-control" />
                            </div>
                            <div class="m-2 text-center text-danger"><h5>@ViewBag.ErrPrice</h5></div><br />
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Favourite" value="true">
                                <label class="form-check-label" for="gridRadios1">
                                    Favorit
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="Favourite" value="false" checked>
                                <label class="form-check-label" for="gridRadios2">
                                    Nefavorit
                                </label>
                            </div><br />
                            <div class="m-2 text-center text-danger"><h5>@ViewBag.ErrFavourite</h5></div>
                            <div class="form-group " ng-app="myApp" ng-controller="customersCtrl">

                                <select class="custom-select control-label border-0 " name="categoryID">
                                    <option selected>Categoria...</option>
                                    <option value="{{myData[0].id}}">{{myData[0].name}}</option>
                                    <option value="{{myData[0].id}}">{{myData[1].name}}</option>
                                    <option value="{{myData[0].id}}">{{myData[2].name}}</option>
                                </select>
                                <br>
                            </div><br>
                            <div class="m-2 text-center text-danger"><h5>@ViewBag.ErrCategory</h5></div>
                            <div class="form-group ">
                                <label class="control-label" for="uploadedFile">Incarca imaginea</label>

                                <input type="file" name="uploadedFile" class="form-control " />

                            </div>
                        </div>

                        <div class="col-7 ml-5">
                            <div class="form-group">
                                <label name="Desc" class="control-label">Descriere</label>

                                <textarea class="form-control z-depth-1 border-bottom rounded" name="Desc"
                                          id="exampleFormControlTextarea6" rows="8" placeholder="Adauga descrierea produsului..."></textarea>
                            </div>
                            <div class="m-2 text-center text-danger"><h5>@ViewBag.ErrDesc</h5></div>
                        </div>
                    </div>


                    <button type="submit" class="login-button" style=""><i class="fa fa-chevron-right"></i></button>

                </div>
            </div>
        </form>
    </div>
</div>



<script>
    var app = angular.module('myApp', []);
    app.controller('customersCtrl', function ($scope, $http) {
        $http.get("https://magazin20211005230250.azurewebsites.net/api/jsonsCategory/").then(function (response) {
            $scope.myData = response.data;

        });
    });

</script>