@model Produs

@{
    ViewData["Title"] = "Detalii Produs";
}
@{string denumire = Model.Path + "" + Model.Img;}
<div style="        margin: 100px;
        padding: 10px;
       background-color:rgba(250,250,250,0.8);

        min-height: 100px;
        padding: 75px;
        border-radius: 20px 20px;

">
    <div class="row mt-5 " style="   color: white;
        min-height: 100px;
        min-width: 100px;
        font-family: 'Roboto', sans-serif;
    ">


        @{ <div class="col-lg-6">


                <img class="img-thumbnail" src="@denumire" alt="@Model.Name" />

            </div>
        }
        @{ <div class="col-lg-6">
    <h2 class="text-center text-dark font-weight-bold">  @Model.Name</h2>


    <h4 class="text-center text-dark"> @Model.Company</h4>
    <p class="text-center text-secondary">@Model.Desc</p>
    <p class="text-center text-danger" style="font-size:20px">
        Pretul jocului: @Model.Price &#128;
    </p>
    <p class="text-center">
    <a class="btn btn-danger text-white" href="~/Administrator/Meniu_manager"> Acasa</a>
   <a class="btn btn-danger text-white" href="~/Administrator/Change/@Model.Id"> Modifica</a>
    <a class="btn btn-danger text-white" href="~/Administrator/Delete/@Model.Id"> Sterge</a>
    
</div>
        }

    </div>
</div>





